{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Connexion</h1>
{% if error %}
<div class="greybox greybox-error">
  <p class="error">{{ error }}</p>
</div>
{% endif %}
<form method="post" action="{% url 'login' %}" style="font-size: larger;">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.GET.next }}">
  <label for="username">Email :</label><br>
  <input type="text" name="username" placeholder="email@domain.com"><br>
  <label for="Mot de passe">Mot de passe :</label><br>
  <input type="password" name="password" placeholder="Mot de passe"><br>
  <div class="dna-seperator">
  </div>
  <input type="submit" value="Login">
</form>
{% endblock %}
