{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>Home Page</h1>
<a href="{% url 'delete_all_sequences' %}">ATTENTION GROS BOUTOU ROUGE QUI SUPPRIME TOUTES LES SEQUENCES</a>
<ul>
  {% for genome in genomes %}
  <li>
    <div>
      <strong>Génome :</strong>
      <a href="{% url 'genome_sequences' genome.id %}">{{ genome.name }}</a>
    </div>
  </li>
  {% empty %}
  <li>
    Aucun génome enregistré.
  </li>
  {% endfor %}
</ul>
</ul>

<a href="{% url 'add_sequence' %}">Ajouter une séquence</a>

{% endblock %}
