{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>Home Page</h1>
<ul>
  {% for sequence in sequences %}
  <li>
    <div>
      <strong>ID : </strong>
      <a href="{% url 'simple_view' sequence.id %}">{{ sequence.id }}</a>
      <strong>Statue : </strong>
      {{ sequence.get_status_display  }}
      <strong>Owner : </strong>
      {{ sequence.owner.email }}
      <strong>Séquence : </strong>
      {{ sequence.sequence|slice:":30"}}...
    </div>
  </li>
  {% empty %}
  <li>
    Aucune séquence enregistrée.
  </li>
  {% endfor %}
</ul>

<a href="{% url 'add_sequence' %}">Ajouter une séquence</a>

{% endblock %}
