{% extends "base.html" %}
{% block title %}Db{% endblock %}
{% block content %}

<h1>Accéder aux informations complémentaires d'autres bases de données</h1>
<form method="post">
    {% csrf_token %}
    <label for="database">Sélectionnez une banque de données :</label>
    <select id="database" name="database" required>
        {% for db in databases %}
            <option value="{{ db.id }}">{{ db.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Accéder</button>
</form>

{% endblock %}
