{% extends "base.html" %}
{% block title %}À propos{% endblock %}

{% block content %}
<h1>À propos de GenHome</h1>
<p>Bienvenue sur GenHome, une application web conçue pour l'annotation et l'analyse fonctionnelle de génomes bactériens.</p>
<h2>Fonctionnalités principales :</h2>
<ul>
    <li>Gestion des utilisateurs avec des rôles différenciés (lecteur, annotateur, validateur).</li>
    <li>Recherche et visualisation de génomes et de gènes.</li>
    <li>Accès à des outils d'alignement de séquences (Blast).</li>
    <li>Annotation et validation des génomes.</li>
    <li>Accès aux bases de données externes comme UniProt et NCBI.</li>
</ul>
<h2>Objectifs :</h2>
<p>Notre mission est de fournir une plateforme centralisée pour faciliter l'analyse et l'annotation des génomes bactériens.</p>
{% endblock %}
