{% extends "base.html" %}
{% block title %}Accéder aux bases de données{% endblock %}
{% block content %}

<h1>Accéder aux informations complémentaires des bases de données</h1>
<form method="post">
    {% csrf_token %}
    <label for="database">Sélectionnez une base de données :</label>
    <select id="database" name="database" required>
        {% for db in databases %}
            <option value="{{ db.id }}">{{ db.name }}</option>
        {% endfor %}
    </select>

    <label for="sequence_id">Sélectionnez une séquence enregistrée :</label>
    <select id="sequence_id" name="sequence_id">
        {% if sequences %}
            <option value="">-- Choisir une séquence locale --</option>
            {% for seq in sequences %}
                <option value="{{ seq.id }}">ID: {{ seq.id }}, Status: {{ seq.status }}, Sequence: {{ seq.sequence|slice:":30" }}...</option>
            {% endfor %}
        {% else %}
            <option value="" disabled>Aucune séquence disponible</option>
        {% endif %}
    </select>

    <label for="sequence">Ou entrez une séquence :</label>
    <textarea id="sequence" name="sequence" rows="5" cols="50" placeholder="Collez votre séquence ici"></textarea>

    <button type="submit">Vérification</button>
</form>

{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}

{% if redirect_url %}
    <div style="margin-top: 20px;">
        <p style="color: green; font-weight: bold;">Votre séquence a un format valide (nucléotidique ou peptidique).</p>
        <button onclick="window.open('{{ redirect_url }}', '_blank')" 
                style="background-color: #007BFF; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer;">
            Accéder maintenant à {{ selected_db_name }}
        </button>
    </div>
{% endif %}


{% endblock %}
