{% extends "base.html" %}
{% block title %}Add Sequence{% endblock %}
{% block content %}
<h1>Ajouter une nouvelle séquence</h1>
<form method="post" enctype="multipart/form-data">
  {% if messages %}
    <div>
    {% for message in messages %}
      <div>
        {{ message }}
      </div>
    {% endfor %}
    </div>
  {% endif %}
  {% csrf_token %}
  <div>
    {% for field in form %}
    <div>
      <label for="{{ field.id_for_label }}">
      {{ field.label }}
      </label>
      {{ field }}
    </div>
    {% endfor %}
  </div>
  <button type="submit">Ajouter</button>
</form>

{% endblock %}
