{% extends "base.html" %}
{% block title %}Annotation view{% endblock %}
{% block content %}
<h1> Séquence {{ sequence.id }}</h1>
<p>{{ sequence.get_status_display }}</p>
<pre>{{ sequence.sequence|slice:":80"}}</pre>
{% if sequence.owner %}
<div class="greybox blue-cool">
<p>Validateur : {{ sequence.owner }}</p>
<p>Annotateur : {{ sequence.annotateur }}</p>
</div>
{% endif %}

<h2>Features :</h2>
<ul>
  {% for ft in features %}
  <li><strong>{{ ft.get_status_capitalize }} :</strong> {{ ft.get_value_capitalize }}</li>
  {% endfor %}
</ul>

<form method="POST">
</form>

<h2>Annotations :</h2>
{% if sequence.annotateur and request.user == sequence.annotateur %}
  <a href="{% url 'annotate_sequence' sequence.id %}">Ajouter des annotations</a>    
{% endif %}
<ul>
  {% for annotation in annotations %}
  <li>
    {{ annotation.content }}
    <span>( Ajoutée le {{ annotation.created_at|date:"d M Y H:i" }}
      {% if annotation.owner %}
        par {{annotation.owner.email}}
      {% endif %})
    </span>
  </li>
  {% empty %}
  <span>
    Pas d'annotations sur cette séquence, <b style="font-weight: bolder;">vous devez être l'annotateur de cette séquence pour ajouter une annotation</b>.
  </span>
  {% endfor %}
</ul>

<h2>Genome associé :</h2>
<p><a href="{% url 'genome_sequences' sequence.genome.id %}">Voir le génome {{ sequence.genome.name }}</a></p>


<h2>Séquences liées :</h2>
{% if related_sequences %}
<ul>
  {% for seq in related_sequences %}
  <li>
    <a href="{% url 'simple_view' seq.id %}">Séquence {{ seq.id }}</a>
    (Identifiant : {{ seq.identifiant }})
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Aucune séquence liée trouvée.</p>
{% endif %}
<a href="{% url 'download_sequence_with_annotations' sequence.id %}">Télécharger la séquence avec annotations</a>
{% endblock %}
