{% extends "base.html" %}
{% block title %}Annotation view{% endblock %}
{% block content %}
<h1> Séquence {{ sequence.id }}</h1>
<p>{{ sequence.get_status_display }}</p>
<pre>{{ sequence.sequence|slice:":80"}}</pre>

<form method="POST">
</form>


<h2>Annotations :</h2>
<a href="{% url 'annotate_sequence' sequence.id %}">Ajouter des annotations</a>
<ul>
  {% for annotation in annotations %}
  <li>
    {{ annotation.content }}
    <span>(Ajoutée le {{ annotation.created_at|date:"d M Y H:i" }} par
      {{annotation.owner.email}})</span>
 {% endfor %}
</ul>
{% endblock %}
